<header>
    <h1 align="middle">LOGO QUIZ</h1>
    <p> Use smallcaps while posting the answers<b> Best Of Luck</b></p>
</header>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/users/quizsubmit">
    <div>
        <!--Question 1-->
    <h3> Question 1</h3>
    </div>
    <img alt="logo1" src="https://image.ibb.co/g2Pq8Q/icon1.png" height="200" width="200">
    <div class="quiz-group">
        <label></label>
        <input type="text" name="ans1" id="q1d"><br>
    </div>
    <br>
        <!--Question 2-->
    <div>
        <h3> Question 2</h3>
    </div>
    <img alt="logo2" src="https://image.ibb.co/jitTv5/icon2.jpg" height="200" width="200">
    <div class="quiz-group">
        <label></label>
        <input type="text" name="ans2" id="q1d"><br>
    </div>
    <!--Question3-->
    <div>
        <h3> Question 3</h3>
    </div>
    <img alt="logo3" src="https://preview.ibb.co/dUrsNk/icon3.gif" height="200" width="200">
    <div class="quiz-group">
        <label></label>
        <input type="text" name="ans3" id="q1d"><br>
    </div>
    <!--Question4-->
    <div>
        <h3> Question 4</h3>
    </div>
    <img alt="logo4" src="https://image.ibb.co/mDaxoQ/icon4.png" height="200" width="200">
    <div class="quiz-group">
        <label></label>
        <input type="text" name="ans4" id="q1a"><br>
    </div>
        <!--Question5-->
    <div>
        <h3> Question 5</h3>
    </div>
    <img alt="logo5" src="https://image.ibb.co/ed6Rhk/icon5.png" height="200" width="200">
    <div class="quiz-group">
        <label></label>
        <input type="text" name="ans5" id="q1a"><br>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
