/* Space out content a bit */
body {
  padding-top: 10x;
  padding-bottom: 5px;
}
/*BODY PHASE STARTS*/
body {background-color: #39f !important;}
@-webkit-keyframes colours {
  0% {background-color: #39f;}
  15% {background-color: #8bc5d1;}
  30% {background-color: #f8cb4a;}
  45% {background-color: #95b850;}
  60% {background-color: #944893;}
  75% {background-color: #c71f00;}
  90% {background-color: #bdb280;}
  100% {background-color: #39f;}
}
body {
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: colours;
  -webkit-animation-timing-function: ease;
}

/*bg phase option*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 10px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 4px;
  border-bottom: 4px solid #e53b41;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 1px;
  margin-bottom: 30px;
  color: #000000;
  line-height: 4px;
}

/* Custom page footer */
.footer {
  padding-top: 05px;
  color: #000000;
  border-top: 03px solid #c24f29;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 300px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:40px;
}
footer{
  margin-top:40px;
}
#nav_login:hover {
  color: #fafafa;
  background-color: #333;
}
#nav_dash:hover{
  color: #fafafa;
  background-color: #333;
}
#nav_logout:hover {
  color: #fafafa;
  background-color: #333;
}
#nav_reg:hover{
  color: #fafafa;
  background-color: #333;
}
#nav_pro:hover{
  color: #fafafa;
  background-color: #333;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
#logo {
  float: left;
  font-size: 1.5em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 2px solid #000000;
  transition: .5s all;
}
nav {
  float: left;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: .2em 2em;
}
nav ul li {
  display: inline;
  padding: 0em;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 1.3em;
  transition: .5s color;
}
nav ul li a:hover {
  border-bottom: 3px solid #333;
}
.main {
  height: 500px;
  background: #000;
}